{% load static %}    
<!DOCTYPE html>
<html>
	<head>
		<title>Login Page</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		
		<link rel="stylesheet" href="{% static '/css/bootstrap.min.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
	</head>
	<body>
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>Iniciar sesión</h3>
				</div>
				<div class="card-body">
					<form action="{% url 'login' %}" method="post">
						{% csrf_token %}
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{ form.username }}
							
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{ form.password }}
						</div>
						<div class="row align-items-center remember">
							<input type="checkbox">Recordarme
						</div>
						<div class="form-group">
							<input type="submit" value="Login" class="btn float-right login_btn">
						</div>
					</form>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						¿No tienes una cuenta?<a href="{% url 'register' %}">Registrarse</a>
					</div>
					<div class="d-flex justify-content-center">
						<a href="#" style="color: #FFC312 !important;">¿Olvidaste tu contraseña?</a>
					</div>
					<br>
					<div class="d-flex justify-content-center">
						{% if form.errors %}
							{% for field in form %}
							<ul class="non-field-errors">
								{% for error in field.errors %}
									<li style="color: red; font-weight: bold;">{{error}}</li>
								{% endfor %}
							</ul>
							{% endfor %}
						{% endif %}
					</div>
					<div class="d-flex justify-content-center">
						{% if form.non_field_errors %}
							<ul class="non-field-errors">
								{% for err in form.non_field_errors %}
									<li style="color: red; font-weight: bold;">{{err}}</li>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	</body>
</html>