{% extends 'base.html' %}
{% load static %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/cha.css' %}">
{% endblock %}

{% block content %}
<div class="course-details-tab-area">
    <div class="course-details-tab-wrapper">
        <div class="course-details-tab-btn clearfix ul-li">
            <ul id="tabs" class="nav text-uppercase nav-tabs">
                <!--estas redirecciones ya lo hizo Luiggi en la interfaz course.html de la rama info_curso-->
                <!--redirecciona a descripcion para todos--><li class="nav-item"><a href="#" data-target="#overview"  class="nav-link text-capitalize">Descripción </a></li>
                <!--redirecciona a interfaz "posts" si está matriculado en el curso--><li class="nav-item"><a href="{% url 'show_posts' course.id %}" data-target="#contentd" data-toggle="tab" class="nav-link text-capitalize">Contenido  </a></li>
                <!--redirecciona a interfaz "tareas" si está matriculado en el curso--><li class="nav-item"><a href="{% url 'show-assignments' course.id %}" data-target="#instructor"  class="nav-link text-capitalize show active">Tareas</a></li>
            </ul>
        </div>
        <div class="course-details-tab-content-wrap">
            <div id="tabsContent" class="tab-content">
                <div id="instructor" class="tab-pane fade active show"> 
                    <div class="row" style="margin-bottom: 0px;">
                        <div class="col s9">
                            <div class="cd-curriculam-top clearfix">
                                <h3 class="c-overview-title float-left">Actividades </h3>
                            </div>
                        </div>
                        <div class="col s3">
                            {% if teacher_mode == True %}
                            <!--modificar este href--><a href="{% url 'new-assignment' course.id %}" class="btn-small right"><em class="material-icons">add</em>Agregar tarea</a>
                            {% endif %}
                            </div></div>
                            <div class="accordion" id="accordionExample">
                                <!--modificar esto-->{% for assignment in course.assignments.all %}
                                <div class="yl-cd-cur-accordion yl-headline pera-content ul-li">
                                    <div class="yl-cd-cur-accordion-header" id="headingOne-{{ forloop.counter }}">
                                        <button data-toggle="collapse" data-target="#collapseOne-{{ forloop.counter }}" aria-controls="collapseOne-{{ forloop.counter }}" class="collapsed" aria-expanded="false">
                                            <!--modificar esto--><h3>{{ assignment.title }}</h3>
                                        </button>
                                    </div>
                                    <div id="collapseOne-{{ forloop.counter }}" class="collapse" data-parent="#accordionExample">
                                    <div class="yl-cd-cur-accordion-body">
                                        <ul>
                                        <li>
                                            Titulo de la tarea: <!--modificar esto-->{{ assignment.title }}
                                        </li>
                                        <li>
                                            Contenido de la tarea: <!--modificar esto-->{{ assignment.content}}
                                        </li>
                                        <li>
                                            <!--modificar este href-->Archivo: <a target='_blank' href="{{ assignment.file.url }}" title="file">  <i class="material-icons">file_download</i>Descargar</a>
                                        </li>
                                        </ul>
                                    </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} 