{% extends 'base.html' %}
{% load static %}

{% block css %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/cha.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- nuevo, necesario-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/curso.css' %}">
    <style>
      .btn-info-custom{
        background-color: #00bcd4 !important;
        color: white !important;
        margin-right: 10px !important;
      }

      .btn-info-custom2{
        background-color: rgb(213,104,23) !important;
        color: white !important;
        margin-right: 10px !important;
      }

    </style>
{% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
  {% if message.tags == 'success' %}
    <div class="alert alert-success" role="alert">
      {{ message.message }}      
    </div>
  {% endif %}

  {% if message.tags == 'warning' %}
    <div class="alert alert-warning" role="alert">
      {{ message.message }}      
    </div>
  {% endif %}

{% endfor %}
{% endif %}



<div class="course-details-tab-area">
  <div class="course-details-tab-wrapper">
    <div class="d-flex justify-content-end">
      <a href="{% url 'showTeams' course.id %}" class="btn btn-info-custom2 mb-4">Ver grupos</a>
      {% if teacher_mode == True %}
        <a href="{% url 'formTeams' course.id %}" class="btn btn-info-custom mb-4">Formar grupos</a>
      {% endif %}      
    </div>
    <div class="course-details-tab-btn clearfix ul-li">
      <ul id="tabs" class="nav text-uppercase nav-tabs">
          <!--estas redirecciones ya lo hizo Luiggi en la interfaz course.html de la rama info_curso-->
          <!--redirecciona a descripcion para todos--><li class="nav-item"><a href="#" data-target="#overview" data-toggle="tab" class="nav-link text-capitalize">Descripción </a></li>
          <!--redirecciona a interfaz "posts" si está matriculado en el curso--><li class="nav-item"><a href="{% url 'show_posts' course.id %d}" data-target="#contentd" data-toggle="tab" class="nav-link text-capitalize show active">Contenido  </a></li>
          <!--redirecciona a interfaz "tareas" si está matriculado en el curso--><li class="nav-item"><a href="{% url 'show_posts' course.id %}" data-target="#instructor"  data-toggle="tab" class="nav-link text-capitalize ">Tareas</a></li>
      </ul>
    </div>
    <div class="course-details-tab-content-wrap">
      <div id="tabsContent" class="tab-content">
        <div id="overview" class="tab-pane fade"> 
          <div class="row" style="margin-bottom: 0px;">

            <div class="course-details-overview yl-headline pera-content">
              <div class="row">
                  <div class="col-lg-9">
                      <div class="descripcion">
                          <div class="descripcion-texto yl-headline pera-content">
                              <h1>{{course.title}}</h1>
                              <br>
                              <h3>Descripción del curso</h3>
                              <p>{{course.description}}</p>
                              <h3 class="cuadro-titulo">Docente</h3>
                              <div class="cuadro-item">
                                  <div class="item-interior">
                                      <div class="titulo-interior"><i class="material-icons">person</i> Nombre:</div>
                                      <span>{{course.user.name}}</span>
                                  </div>
                                  <div class="item-interior">
                                      <div class="titulo-interior"><i class="material-icons">email</i> Email:</div>
                                      <span>{{course.user.email}}</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                  </div>
                  <div class="col-lg-3">
                  <div class="yl-event-sidebar">
                      <div class="cuadro ul-li yl-headline">
                          <h3 class="cuadro-titulo">Detalles del curso</h3>
                          <div class="cuadro-item">
                              <div class="item-interior">
                                  <div class="titulo-interior"><i class="material-icons">event_available</i> Fecha Inicio:</div>
                                  <span>10 de Abril, 2022</span>
                              </div>
                              <div class="item-interior">
                                  <div class="titulo-interior"><i class="material-icons">access_time</i> Horario:</div>
                                  {% comment %} <span>08:00am - 12:00pm</span> {% endcomment %}
                                  <span>{{course.time_start}} - {{course.time_end}}</span>
                              </div>
                              <div class="item-interior">
                                  <div class="titulo-interior"><i class="material-icons">date_range</i> Dia:</div>
                                  {% comment %} <span>Lunes y Miercoles</span> {% endcomment %}
                                  <span>{{course.day}}</span>
                              </div>
                          </div>
                          {% if is_owner or is_registered %}
                          {% comment %} agregar boton para desuscribirse {% endcomment %}
                          {% else %}
                              <a class="ed-book-btn text-center" href="#">
                              Inscríbete
                              </a>
                          {% endif %}
                      </div>
                  </div>
                  </div>
              </div>
          </div>
          </div>
        </div>
        <div id="contentd" class="tab-pane fade active show"> 
          <div class="row" style="margin-bottom: 0px;">
            <div class="col s9">
              <div class="cd-curriculam-top clearfix">
                <h3 class="c-overview-title float-left">Publicaciones </h3>
              </div>
            </div>
            <div class="col s3">
              {% if teacher_mode == True %}
              <!--modificar este href--><a href="{% url 'new-post' course.id %}" class="btn-small right"><em class="material-icons">add</em>Agregar publicación</a>
              {% endif %}
            </div>
          </div>
          <div class="accordion" id="accordionExample">
            {% for post in course.posts.all %}
            {% if post.is_asgmt == False %}
            <div class="yl-cd-cur-accordion yl-headline pera-content ul-li">
              <div class="yl-cd-cur-accordion-header" id="headingOne-{{ forloop.counter }}">
                <button data-toggle="collapse" data-target="#collapseOne-{{ forloop.counter }}" aria-controls="collapseOne-{{ forloop.counter }}" class="collapsed" aria-expanded="false">
                  <h3>{{ post.title }}</h3>
                </button>
              </div>
              <div id="collapseOne-{{ forloop.counter }}" class="collapse" data-parent="#accordionExample">
                <div class="yl-cd-cur-accordion-body">
                    <ul>
                    <li>
                        Titulo de la tarea: <!--modificar esto-->{{ post.title }}
                    </li>
                    <li>
                        Contenido de la tarea: <!--modificar esto-->{{ post.content}}
                    </li>
                    <li>
                      {% if post.file %}
                        <!--modificar este href-->Archivo: <a target='_blank' href="{{ post.file.url }}" title="file">  <i class="material-icons">file_download</i>Descargar</a>
                      {% endif %}
                    </li>
                    </ul>
                    <ul>
                      {% if teacher_mode == True %}
                        <li>
                          <a href="{% url 'edit-post' course.id post.id %}" class="btn-small left"><em class="material-icons">add</em>Editar Tarea</a>
                        </li>
                      {% endif %}
                      </ul>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>


        <div id="instructor" class="tab-pane fade active"> 
          <div class="row" style="margin-bottom: 0px;">

            <div class="d-flex justify-content-between align-items-center">
              <h3 class="c-overview-title"> Actividades </h3>
              {% if teacher_mode == False %}                  
                <a href="{% url 'show_calification' course.id  %}" class="btn btn-success">Ver Calificaciones </a>
              {% endif %}
            </div>
            <div class="col s3">
              {% if teacher_mode == True %}
              <!--modificar este href--><a href="{% url 'new-assignment' course.id %}" class="btn-small right"><em class="material-icons">add</em>Agregar tarea</a>
              {% endif %}
            </div>
          </div>
          <div class="accordion" id="accordionExample">
            {% for post in course.posts.all %}
            {% if post.is_asgmt == True %}
            <div class="yl-cd-cur-accordion yl-headline pera-content ul-li">
              <div class="yl-cd-cur-accordion-header" id="headingOne-{{ forloop.counter }}">

                <button data-toggle="collapse" data-target="#collapseOne-{{ forloop.counter }}" aria-controls="collapseOne-{{ forloop.counter }}" class="collapsed" aria-expanded="false">
                  <h3>{{ post.title }} 
                  {% if post.assignment.due_datetime %}
                    
                     {% if post.assignment.due_datetime > datetime.now %}
                      <span class="badge badge-danger" style="background-color:red; color:white">Finalizada</span>
                     {% else %}
                       {% comment %} <span class="badge badge-success" style="background-color:green; color:white">Activa</span> {% endcomment %}
                     {% endif %}
                     {% if teacher_mode == False %}                  

                     {% for homework in homeworkUser.all %}
                        {% if homework.assignment_id == post.assignment.post_ptr_id %}
                          {% comment %} <span class="badge badge-success" style="background-color:green; color:white">Entregada</span> {% endcomment %}
                        {% endif %}
                      {% endfor %}                          
                      {% endif %}
                    <span class="badge bg-warning text-white">Fecha de entrega : {{ post.assignment.due_datetime }}</span> 
                    <span class="badge bg-danger text-white">TAREA</span> 
                  {% endif %}
                  </h3>
              </button>
              </div>
              <div id="collapseOne-{{ forloop.counter }}" class="collapse" data-parent="#accordionExample">
                <div class="yl-cd-cur-accordion-body">

                  <ul>
                    <li>
                      Titulo de la tarea: {{ post.title }}
                    </li>
                    <li>
                      Contenido de la tarea: {{ post.content}}
                    </li>
                    <li>
                      Entregar hasta: {{post.assignment.due_datetime}}
                    </li>
                    {% if post.file %}

                    <li>
                        Archivo: <a target='_blank' href="{{ post.file.url }}" title="file">  <i class="material-icons">file_download</i>Descargar</a>
                      </li>
                      {% endif %}                      
                    {% if teacher_mode == False %}                  
                      {% if post.assignment.due_datetime %}
                      <a href="{% url 'send_homework' post.course.id post.id  %}" class="btn btn-success
                      {% for homework in homeworkUser.all %}
                        {% if post.assignment.due_datetime < time_now %}
                          disabled" style='color:black !important; font-weight:bold;'
                        {% elif homework.assignment_id == post.assignment.post_ptr_id %}
                          disabled" style='color:black !important; font-weight:bold;'
                        {% endif %}

                      {% endfor %}                               
                      "> 
                        Entregar tarea
                      </a>                                
                        </li>
                      {% endif %}
                    {% endif %}


                    
                </ul>
                  <ul>
                  {% if teacher_mode == True %}
                    <li>
                      <a href="{% url 'edit-assignment' course.id post.id %}" class="btn-small left"><em class="material-icons">add</em>Editar Tarea</a>
                    </li>
                    <li>
                      <a href="{% url 'calification_assignment' course.id post.id %}" class="btn-small left"><em class="material-icons">arrow_forward</em>Calificar Tarea</a>
                    </li>
                  {% endif %}
                  </ul>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}





